@model InspectSystem.Models.InspectItems

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InspectItems</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AreaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = item.ID, Itemid = item.ItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
