@model IEnumerable<InspectSystem.Models.InspectItems>


@Scripts.Render("~/bundles//jquery")

@{

    ViewBag.Title = "巡檢項目維護";

    var SearchResult = TempData["SearchResult"] as List<InspectSystem.Models.InspectItems>;
    TempData.Keep();
}

<script>
    $(document).ready(function () {

        //When a edit button click
        $(".editBtn").click(function () {
            //hide edit button
            $(this).hide();
            //When Editing, disable other edit buttons
            $(".editBtn").attr("disabled", true);
            //Change the selected row to be edit
            $(".displayRow" + $(this).attr("id")).hide();
            $(".editRow" + + $(this).attr("id")).show();
        });

        //Create a new row for insert item's detail
        var htmlForItemForm = "<table class='table'>\
                                   <tr>\
                                       <form action='Create' class='form-control' method='post' id='formForCreateItem'>\
                                           <td class='col-md-2'>" 
                                           + $("#areaName").text() +
                                           "</td>\
                                           <td class='col-md-2'>"
                                           + $("#className").text() +
                                           "</td>\
                                           <td class='col-md-2'>\
                                               <input type='text' class='form-control' name='ItemID'>\
                                           </td>\
                                           <td class='col-md-2'>\
                                               <input type='text' class='form-control' name='ItemName'>\
                                           </td>\
                                           <td class='col-md-2'>\
                                               <input type='checkbox' name='ItemStatus'>\
                                           </td>\
                                           <td class='col-md-2'>\
                                               <input type='submit' class='btn' value='儲存' id='submitCreate'/>\
                                               <input type='submit' class='btn' value='返回' id='cancelCreate'/>\
                                           </td>\
                                       </form>\
                                   </tr>\
                               </table>"
        $("#createBtn").click(function () {
            $("#editTable").after(htmlForItemForm)
        });
        $("body").on("click", "#submitCreate", function () {
            alert("test");
        });
    });
</script>

<style>
    /* The items that can be edit (Hidden by Default) */
    .hideEditItems {
        display: none;
    }
</style>

<h2>巡檢項目維護</h2>

<!--使用者選擇區域與類別進行搜尋-->
<hr />
@using (Html.BeginForm("SearchItems", "InspectItems", FormMethod.Post, new { @class = "form-inline" }))
{
    <div class="container">
        <div class="form-group col-md-5">
            @Html.Label("選擇區域:", new { @for = "AreaList" })
            @Html.DropDownList("AreaList", null, "請選擇",
                                new { @class = "form-control", name = "AreaList", required = "required" })
        </div>
        <div class="form-group col-md-5">
            @Html.Label("選擇類別:", new { @for = "ClassList" })
            @Html.DropDownList("ClassList", null, "請選擇",
                                new { @class = "form-control", name = "ClassList", required = "required" })
        </div>
        <div class="form-group col-md-2">
            <input type="submit" value="查詢項目" class="btn" />
        </div>
    </div>
}

<hr />
<div class="container">
    <button class="btn btn-primary" id="createBtn">新增項目</button>
</div>
<hr />

<table class="table" id="editTable">
    <tr>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.InspectAreas.AreaName)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.InspectClasses.ClassName)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.ItemID)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th class="col-md-2">
            @Html.DisplayNameFor(model => model.ItemStatus)
        </th>
        <th class="col-md-2"></th>
    </tr>

    @if (SearchResult == null)
    {

    }
    else
    {
        int row = 1;
        foreach (var item in SearchResult)
        {
            string displayRow = "displayRow" + row;
            string editRow = "editRow" + row;
            <tr>
                @using (Html.BeginForm("Edit", "InspectItems", FormMethod.Post))
                {
                    @Html.HiddenFor(modelItem => item.ID)
                    <td class="col-md-2">
                        <span id="areaName">@Html.DisplayFor(modelItem => item.InspectAreas.AreaName)</span>
                    </td>
                    <td class="col-md-2">
                        <span id="className">@Html.DisplayFor(modelItem => item.InspectClasses.ClassName)</span>
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => item.ItemID)
                        @Html.HiddenFor(modelItem => item.ItemID)
                    </td>
                    <td class="col-md-2">
                        <span class="@displayRow">@Html.DisplayFor(modelItem => item.ItemName)</span>
                        <span class="@editRow hideEditItems">@Html.EditorFor(modelItem => item.ItemName, new { htmlAttributes = new { @class = "form-control" } })</span>
                        @Html.ValidationMessageFor(modelItem => item.ItemName, "", new { @class = "text-danger" })
                    </td>
                    <td class="col-md-2">
                        <span class="@displayRow">@Html.DisplayFor(modelItem => item.ItemStatus)</span>
                        <span class="@editRow hideEditItems">@Html.CheckBoxFor(modelItem => item.ItemStatus)</span>
                    </td>
                    <td class="col-md-2">
                        <input type="button" class="btn editBtn" value="編輯" id="@row" />
                        <input type="submit" class="@editRow hideEditItems btn btn-primary" value="儲存" />
                    </td>
                }
            </tr>
            row++;
        }
    }
</table>


<hr />
<p style="text-align:center">-----------------------以下測試---------------------------</p>
<!--接收值測試-->
<div>
    TempData["AreaListValue"] = @TempData["AreaListValue"] <br />
    TempData["ClassListValue"] = @TempData["ClassListValue"] <br />

</div>
<hr />
<div>測試對照資料表</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InspectAreas.AreaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InspectClasses.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemStatus)
        </th>
        <th></th>
    </tr>

    @if (SearchResult == null)
    {

    }
    else
    {
        foreach (var item in SearchResult)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AreaID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InspectAreas.AreaName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InspectClasses.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemStatus)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID, Itemid = item.ItemID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID, Itemid = item.ItemID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID, Itemid = item.ItemID })
                </td>
            </tr>
        }
    }

</table>