@model IEnumerable<InspectSystem.Models.InspectDocFlow>

@Scripts.Render("~/bundles//jquery")
<link rel="stylesheet" href="~/Content/MobileStyle/MyMobileTabStyle.css" />

@{
    ViewBag.Title = "流程資訊";
}


<h3>流程資訊</h3>
<hr />
<div class="container">
    <a class="btn btn-primary btn-block btn-lg" href="@Url.Action("Index", new { area = "Mobile", docID = Model.First().DocID})">回項目選擇</a>
</div>
<hr />

@foreach (var item in Model)
{
    <div class="tab row">
        <button class="col-xs-12">

            <div>
                <h4>
                    @Html.DisplayNameFor(model => model.StepID)
                    @Html.DisplayFor(modelItem => item.StepID)
                </h4>
            </div>

            <div class="col-xs-12">
                <span class="col-xs-3">@Html.DisplayNameFor(model => model.InspectFlowStatusTable.FlowStatusName)</span>
                @Html.DisplayFor(model => item.InspectFlowStatusTable.FlowStatusName)
            </div>

            <div class="col-xs-12">
                <span class="col-xs-3">@Html.DisplayNameFor(model => model.StepOwnerName)</span>
                @Html.DisplayFor(modelItem => item.StepOwnerName)
            </div>

            <div class="col-xs-12">
                <span class="col-xs-3">@Html.DisplayNameFor(model => model.Opinions)</span>
                @Html.DisplayFor(modelItem => item.Opinions)
            </div>

            <div class="col-xs-12">
                <span class="col-xs-3">@Html.DisplayNameFor(model => model.EditorName)</span>
                @Html.DisplayFor(modelItem => item.EditorName)
            </div>

            <div class="col-xs-12">
                <span class="col-xs-3">@Html.DisplayNameFor(model => model.EditTime)</span>
                @Html.DisplayFor(modelItem => item.EditTime)
            </div>
        </button>
    </div>
}
