@model IEnumerable<InspectSystem.Models.InspectClasses>

@{
    ViewBag.Title = "類別列表";
}

<h2>類別列表</h2>

<a href="@Url.Action("Create")" class="btn btn-primary">新增類別</a>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClassID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
        <td>
            @Html.ActionLink("類別名稱編輯", "Edit", new { id = item.ClassID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ClassID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ClassID })
        </td>
    </tr>
}

</table>
