@model InspectSystem.Models.InspectDocDetailsViewModels

@{
    ViewBag.Title = "ViewOfMedicalGas";
}



<h3 style="font-weight: bold">@ViewBag.ClassName</h3>
<hr />

    @{
        var currentItemName = "0";
        int i = 0, j = 0;
    } 
    <div class="container col-md-12">
        @foreach (var item in Model.InspectItems)
        {
            /* Display the ItemName when ItemName is not the same. */
            if (item.ItemName != currentItemName)
            {
                <div class="row col-md-12" style="font-weight: bold">
                    @Html.DisplayFor(modelItem => item.ItemName)
                </div>
                foreach (var fieldItem in Model.InspectFields)
                {
                    /* Display all the FieldName belong the current Item. */
                    if (item.ItemID == fieldItem.ItemID)
                    {
                        <div class="row col-md-12">
                            @if (fieldItem.FieldName != null)
                            {
                                <div class="col-md-3">
                                    @Html.DisplayFor(modelItem => fieldItem.FieldName)
                                </div>
                            }

                            @foreach (var docItem in Model.InspectDocDetails)
                            {
                                /* Display textbox or checkbox for all fields. */
                                if (docItem.ItemID == item.ItemID && docItem.FieldID == fieldItem.FieldID)
                                {

                                    switch (fieldItem.DataType)
                                    {
                                        case "string":
                                            <div class="col-md-5">
                                                @Html.DisplayFor(modelItem => docItem.Value)
                                                @Html.DisplayFor(modelItem => fieldItem.UnitOfData)
                                            </div>
                                            <div class="col-md-3">
                                                @if (docItem.IsFunctional == true)
                                                {
                                                    <p>正常</p>
                                                }
                                                else if (docItem.IsFunctional == false)
                                                {
                                                    <p style="color: red;font-weight: bold">不正常</p>
                                                }
                                                <br />
                                                @Html.LabelFor(modelItem => docItem.ErrorDescription)
                                                @Html.DisplayFor(modelItem => docItem.ErrorDescription)
                                            </div>
                                            break;

                                        case "float":
                                            <div class="col-md-5">
                                                @Html.DisplayFor(modelItem => docItem.Value)
                                                @Html.DisplayFor(modelItem => fieldItem.UnitOfData)
                                            </div>
                                            <div class="col-md-3">
                                                @if (docItem.IsFunctional == true)
                                                {
                                                    <p>正常</p>
                                                }
                                                else if (docItem.IsFunctional == false)
                                                {
                                                    <p style="color: red;font-weight: bold">不正常</p>
                                                }
                                                <br />
                                                @Html.LabelFor(modelItem => docItem.ErrorDescription)
                                                @Html.DisplayFor(modelItem => docItem.ErrorDescription)
                                            </div>
                                            break;

                                        case "boolean":
                                            <div class="col-md-5"></div>
                                            <div class="col-md-3">
                                                @if (docItem.IsFunctional == true)
                                                {
                                                    <p>正常</p>
                                                }
                                                else if (docItem.IsFunctional == false)
                                                {
                                                    <p style="color: red;font-weight: bold">不正常</p>
                                                }
                                                <br />
                                                @Html.LabelFor(modelItem => docItem.ErrorDescription)
                                                @Html.DisplayFor(modelItem => docItem.ErrorDescription)
                                            </div>
                                            break;

                                        case "checkbox":
                                            <div class="col">
                                                @if (docItem.Value == "true")
                                                {
                                                    @Html.CheckBox("InspectDocDetailsTemporary[" + i + "].Value", true)
                                                }
                                                else
                                                {
                                                    @Html.CheckBox("InspectDocDetailsTemporary[" + i + "].Value", false)
                                                }
                                            </div>
                                            break;
                                    }
                                }
                            }
                            @{
                                i++;
                            }
                        </div>
                    }
                }
                <hr />
            }
            else
            {
                currentItemName = item.ItemName;
            }
        }
        <hr />
    </div>


