@model InspectSystem.Models.InspectAreas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InspectAreas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AreaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AreaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AreaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
